@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|PT+Serif:400,400i|Roboto:700");

:root {
    --bg: whitesmoke;
    --red: #f08080;
    --orange: #f0b87f;
    --green: #b8f07f;
    --gray: gainsboro;
    --color-dark-gray: #ccc;
    --color-text-light: #888;
    --color-text-gray: #333;
}

.red {
    background-color: var(--red);
}

.orange {
    background-color: var(--orange);
}

.green {
    background-color: var(--green);
}

.gray {
    background-color: var(--gray);
}

.text-gray {
    color: var(--color-text-light);
}

h1 {
    margin-bottom: 0px;
    font-size: 2em;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: bold;
}

h2 {
    margin: 0px auto 12px auto;
    color: var(--color-text-light);
    font-size: 0.8em;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;
}

h2 a {
    color: var(--color-text-gray);
}

h2 a:hover:active {
    color: var(--color-highlight);
}

p {
    margin: 5px auto;
    color: var(--color-text-gray);
    font-size: 0.9em;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-style: italic;
}

body {
    margin: 0px;
    padding-bottom: 40px;
}

header {
    max-width: 400px;
    width: 90%;
    margin: 0px auto 10px auto;
    text-align: left;
    border-bottom: 1px solid silver;
    transition: filter 0.1s;
}

#container-main {
    max-width: 600px;
    width: 90%;
    margin: 0px auto;
}

#container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-letter {
    display: flex;
    width: 18%;
    aspect-ratio : 1 / 1;
    margin: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 10vw;
}

#container-ui {
    display: flex;
    flex-wrap: wrap;
    align-items: center;;
    justify-content: space-around;
    margin: 10px auto;
    min-height: 2em;
    max-width: 400px;
    text-align: center;
    background-color: var(--bg);
}

#container-ui {
    max-width: 300px;
}

#button-new-game {
    cursor: pointer;
    text-decoration: underline;
}

#container-notifications {
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}

#container-input {
    margin: 10px auto;
    text-align: center;
}

#input-display {
    margin: 10px auto;
    width: 90%;
    height: 8vw;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 8vw;
}

#container-answers {
    max-width: 600px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 4vw;
}

.answer {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.answer:after {
    content: "|";
    margin-left: 10px;
}

.answer:last-child:after {
    content: none;
    margin-right: 0px;
}

@media (min-width: 600px) {
    .grid-letter  {
        font-size: 4em;
    }
    #input-display {
        height: 1.2em;
        font-size: 3em;
    }
    #container-answers {
        font-size: 1em;
    }
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes flashgreen {
    0% {
        background-color: var(--bg);
    }
    50% {
        background-color: var(--green);
    }
    100% {
        background-color: var(--bg);
    }
}

@keyframes flashred {
    0% {
        background-color: var(--bg);
    }
    50% {
        background-color: var(--red);
    }
    100% {
        background-color: var(--bg);
    }
}

.hidden {
    display: none !important;
}